/* Base CSS */

* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Main CSS  */

.modernBlock {
  height: 100vh;
  background-size: cover;
}


/* Images for modern blocks */

.mattinata {
  background-image: url("../img/mattinata.jpg");
}

.vieste {
  background-image: url("../img/vieste.jpg");
}

.isole-tremiti {
  background-image: url("../img/isole-tremiti.jpg");
}
