/* Base CSS */

* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #56a9dc;
}

.cen-vertAlign {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.anchor {
  position: absolute;
  top: -90px; /* Anchor on the top --> Full view of the block */
  opacity: 0;
}

/* Nav CSS */

#nav-menu {
  width: 100%;
  height: 80px;
  background-color: #2784be;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 99;
  line-height: 80px;
}

#logo {
  width: 75px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#nav-menu ul {
  height: 100%;
  width: 50%;
  margin: 0 auto;
  font-size: 0;
}

#nav-menu li {
  height: 100%;
  display: inline-block;
  width: calc(100% / 3);
  text-align: center;
}

#nav-menu a {
  display: block;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  color: #FFF;
}

#nav-menu li:hover {
  background-color: #F4720F;
}

/* Main CSS  */

.modernBlock {
  height: calc(100vh - 100px); /* 100vh - margintop - nav height */
  background-size: cover;
  position: relative;
  border-radius: 50px;
  margin: 20px 60px;
  box-shadow: 3px 3px #2b93d4;
}

.modernBlock:first-of-type {
  margin-top: 90px;
}

.frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: 50px;
  border: 20px solid #FFF;
  z-index: 9;
}

.modernBlock-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.4);
  border-radius: 50px;
  z-index: 8;
}

.cityName {
  font-size: calc(35px + 2vw);
  text-transform: capitalize;
  color: #FFF;
  text-shadow: 1px 1px 1px #000;
  font-weight: bold;
  text-decoration: none;
  z-index: 10;
}

.modernBlock:hover .modernBlock-overlay {
  background-color: rgba(0,0,0,.2);
}

.cityName:hover {
  text-transform: uppercase;
}

/* Images for modern blocks */

.mattinata {
  background-image: url("../img/mattinata.jpg");
}

.vieste {
  background-image: url("../img/vieste.jpg");
}

.isole-tremiti {
  background-image: url("../img/isole-tremiti.jpg");
}

/* Footer CSS */

#jarvis {
  height: 60px;
  background-color: #2784be;
}

.footerText {
  color: #FFF;
  text-align: right;
  font-weght: bold;
  line-height: 60px;
}
